.mydropown-search
{
    background-color:white !important;width:100%;color:navy !important;text-align: left !important;height: 40px;font-size: 1.5rem !important;
}

.appBackground {
    position: relative;
    background-color: darkgrey;
    background-image: url("https://wallpaper-house.com/data/out/21/wallpaper2you_9785.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
  color: black;
  background-color:midnightblue !important;
  color: white !important;
}

  .nav-pills > li.active > a:hover {
      background-color:midnightblue !important;
      color:black;
  }

.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.dark-overlay
{
    width:100%;
    top:0;left:0;
    background: rgba(0,0,0,.5);
    max-height: 600px;
}

.AutoPeople
{
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0 1px 5px rgba(0,0,0,.6);
  margin-left: 35%;
  color:#fff;
}

.AutoPeoplesubHeader
{
  font-size: 32px;
  font-weight: 400;
  text-shadow: 0 1px 5px rgba(0,0,0,.6);
  margin-left: 27%;
  color:#fff;
  line-height: 1.4;
}


.container {
  margin: 0 auto;
  padding: 2px;
  width: 100%;
  color: #333;
  
}

.slick-slide img {
  width: 100%;
}

.slick-slide {
  text-align: center;
  margin: 0px 20px;
  color: #419be0;
  background: white;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.sellbutton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 2px solid;
  background-color: papayawhip;
  border-radius: 10px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: "Arial";
  margin-top: 5px;
  color:indigo;
  font-size: 32px;
}

.outer {
display: table;
position: absolute;
height: 100%;
width: 100%;
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:20px;   /* Height of the footer */
  background:darkblue;
}
.modal-content{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
.middle {
display: table-cell;
vertical-align: middle;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px;
}
.footer {
  height: 70px;
  background-color: #333
}

.footer-item
{
  padding-top: 2% ;text-align: left
}

.inner {
margin-left: auto;
margin-right: auto;
width: 400px;
}

.wrapper-highlight {
  width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}
.wrapper-highlight.active .item-highlight {
  background-color: #f0f0f0;
}
.wrapper-highlight.active .item-highlight.active {
  background-color: #0083F5;
  color: white;
}
.item-highlight {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 150px;
  height: 50px;
  transition-duration: 0.3s;
  position: relative;
  margin-top: 0px;
  padding-top: 8%;
  text-align: center;
}
.item-highlight:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}



.item-highlight.last {
  border-bottom: none;
}
.item-highlight.margin {
  margin-top: 20px;
}
.item-highlight.active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  color: black;
  transition-delay: 0.1s;
  transform: translate(0px,-30px);

  -webkit-transition-delay: 0.5s;
  
}